.sidenavHam {
  display: inline-block;
  cursor: pointer;
    padding: 10px;
}

.bar1, .bar2, .bar3 {
  width: 34px;
  height: 4px;
  border-radius: 3px;
  background-color:white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 6px);
  transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.sideNav{
            padding: 0;
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #3b945E;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 120px;
}

.hideSideNav{
    width:60px;
    content: none;
}



.profile-solid.icon {

  color: #000;
  position: absolute;
  margin-left: 3px;
  margin-top: 11px;
  width: 19px;
  height: 10px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px transparent;
  background-color: currentColor;
  border-radius: 6px 6px 0 0;
}

.profile-solid.icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: -10px;
  width: 12px;
  height:12px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}

