.sidenavHam {
  display: inline-block;
  cursor: pointer;
    padding: 10px;

}

.bar1, .bar2, .bar3 {
  width: 34px;
  height: 4px;
  border-radius: 3px;
  background-color:white;
  margin: 6px 0;
  transition: 0.4s;

}


.change{
  -webkit-animation: KEYFRAME-NAME 0.5s normal;
  -moz-animation:    KEYFRAME-NAME 0.5s normal;
  -o-animation:      KEYFRAME-NAME 0.5s normal;
  animation:         KEYFRAME-NAME 0.5s normal;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 6px);
  transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.sideNav{
            padding: 0;
            height: 100%;
            width: 20%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #3b945E;
            overflow-x: hidden;
            transition: 0.4s;
            padding-top: 120px;
}




.hideSideNav{
    width:5%;
    content: none;

}




.profile-solid.icon {

  color: whitesmoke;
  position: absolute;
  margin-left: 3px;
  margin-top: 11px;
  width: 19px;
  height: 10px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px transparent;
  background-color: currentColor;
  border-radius: 6px 6px 0 0;
}

.profile-solid.icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: -10px;
  width: 12px;
  height:12px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}

.order.icon {
  color: white;
  background-color: currentColor;
  position: absolute;
  margin-left: 4px;
  margin-top: 3px;
  width: 16px;
  height: 22px;
  border-radius: 2px;
  border: solid 1px currentColor;
}

.order.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 3px;
  width: 12px;
  height: 5px;
  background-color: wihte;
  border-bottom: solid 1.4px #3b945E;
  border-top: solid 1.4px #3b945E;
}

.order.icon:after {
  content: '';
  position: absolute;
  bottom: 1px;
  right: 1px;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background-color: #3b945E;
}

.salesReporting.icon{
    color: white;
  background-color: currentColor;
  position: absolute;
  margin-left: 4px;
  margin-top: 3px;
  width: 16px;
  height: 22px;
  border-radius: 2px;
  border: solid 1px currentColor;
}


.salesReporting.icon:before {
  content: '';
  position: absolute;
  left: 2px;
  bottom: 3px;
  width: 6px;
  height: 13px;
  background-color: wihte;
  border-right: solid 2px #3b945E;
  border-left: solid 2px #3b945E;
   

}

.salesReporting.icon:after {
    content: '';
  position: absolute;
  right: 2px;
  bottom: 3px;
  width: 2px;
  height: 8px;
  background-color: wihte;
  border-right: solid 2px #3b945E;

}

.product.icon{
  content: "";
  width:15px;
  height:15px;
  position: absolute;
  margin-left: 5px;
  margin-top: 7px;
  border-radius: 2px; 
  background-color: white;
  border: solid 1.5px white;
  transform: rotate(50deg);
}

/* .product.icon:after{
  content: "";
  width:7px;
  height:15px;
  background-color: white;
  position: absolute;
   transform: rotate(-50deg);
  margin-top:10px;
} */


.sidnavItemsName{
  display: inline-block;
  margin-left:30px;
  height: inherit;


}

.sidnavItemsName > span{
      -webkit-animation: KEYFRAME-NAME 0.5s normal;
  -moz-animation:    KEYFRAME-NAME 0.5s normal;
  -o-animation:      KEYFRAME-NAME 0.5s normal;
  animation:         KEYFRAME-NAME 0.5s normal;
}

.sidenavHideLinksCss{
  margin-left:auto;
  margin-right:auto;
}




.element {
  -webkit-animation: KEYFRAME-NAME 0.5s normal;
  -moz-animation:    KEYFRAME-NAME 0.5s normal;
  -o-animation:      KEYFRAME-NAME 0.5s normal;
  animation:         KEYFRAME-NAME 0.5s linear;
}

@-webkit-keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}









@media (max-width: 768px){
  .sideNav{
    width:100%;
    padding-top: 55px;
    overflow-y: scroll;
  }
  .hideSideNav{
    width:14%;
  }

  .bar1, .bar2, .bar3 {
    width: 26px;
  }

  .sideNav div>a{
    padding-left:10px;

}

}