.navscss{
    padding-left:30px;
}

.navitemcss{
    color:white;
    margin:1rem 16px 0.3rem 16px ;
    font-size: 17px;

    padding:0px 0px 0px 0px;
    cursor: pointer;
      border-bottom: 2px solid transparent;
}
.navitemcss:hover{
    
      border-bottom: 2px solid white;
}
/* 
.navitemcss::after{
  content: " ";
  position: absolute;
  margin-left:10px;
  width: 0.7%;
  height:27px;
  opacity: 0.7;
  background-color:#3b945E ;
  -ms-transform: skewX(-20deg); 
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);  
} */



.header{
    background-color: white;
    border-bottom: 3px solid #3b945E;
    padding: 0px;
}

.webName{
    color:#3b945E;
    font-size: 1.6rem;
    padding-left:60px;
    padding-right:60px;
    font-weight: 600;
}

.navbarrowscss{
  flex-direction: column;
  align-items: unset;

}

.navbarrowscss::before{
  content: '';
  width:100%;
  height:100%;

  background-color: #3b945E;
  position: absolute;
  z-index: -1;
}

.navbarsearchform{
    padding-top:10px;
    padding-right: 20px;
    padding-bottom:10px;
}



.btn-primary:not(:disabled):not(.disabled):active:focus{

    box-shadow: none;

}

.btn-primary:not(:disabled):not(.disabled):active{
    background-color:#eae7dc;
  color:white;
  border-color:inherit;
  outline: none
}

.navsearchbutton{
    
    padding:4px 14px 4px 14px;
  background-color:#3b945E;
  border:1.6px solid white;
  color:white;
 outline: none;
font-size: 0.9em;
}
.navsearchform{
    display: flex;
    flex-direction:row;
    align-items: center;
    padding-right:15px; 
}
.navseachinput{

    border-radius: 4px;
    padding-top:0px;
    padding-bottom:0px;
    width: 200px;
    height: 30px;
    border: none;
    color: #3b945E;
    border:1px solid white;
    background-color: white;
    border-radius: 2px;
}

.navseachinput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3b945E;
  opacity: 1; /* Firefox */
}

.navseachinput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #3b945E;
}

.navseachinput::-ms-input-placeholder { /* Microsoft Edge */
  color: #3b945E;
}


.navseachinput:focus{
    box-shadow: none;
    outline: none;
    color:#3b945E;
    border-color: white;
    background-color: white;
}

.navsearchbutton:hover{
    background-color:white;
  color:#3b945E;
  border-color: white;
   outline: none
}

 .navsearchbutton:active {
    background-color: #8e8d8a;
  color:white;
  border-color: #8e8d8a;
   outline: none
}


.navsearchbutton:not(:disabled):not(.disabled):active{
  background-color: #8e8d8a;
  color:white;
  border-color: #8e8d8a;
   outline: none
}

.navsearchbutton:focus{

    box-shadow: none;

}

.iconcss{
  margin-right:15px;
  margin-left:10px;
  margin-top:5px;
 }
.profile.icon {
  color: white;
  position: relative;
  margin-left: 3px;
  margin-top: 15px;
  width: 20px;
  height: 14px;
  border-left: solid 1.5px currentColor;
  border-right: solid 1.5px currentColor;
  border-top: solid 1.5px currentColor;
  border-bottom: solid 1.5px currentColor;
  border-radius: 8px 8px 0 0;
  
}

.profile.icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: -16px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: solid 1.5px currentColor;
}
.iconcss:hover{
  cursor: pointer;
}



.iccart{
  margin-left:10px;
  margin-right:10px;

}

.icon-cart {
  width: 44px;
  height: 44px;
  position: relative;
  overflow: hidden;
  color:white;
}

.icon-cart .cart-line-1 {
  width: 14%;
  height: 6%;
  position: absolute;
  left: 8%;
  top: 25%;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg); 
  background-color: white;
  border-bottom-left-radius: 35%;
}

.icon-cart .cart-line-2 {
  width: 35%;
  height: 7%;
  position: absolute;
  left: 6%;
  top: 40%;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg); 
  background-color: white;
}

.icon-cart .cart-line-2:before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  left: 45%;
  top: -280%;
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg); 
  background-color: inherit;
}

.icon-cart .cart-line-2:after {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  left: 59%;
  top: -670%;
  background-color: inherit;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg); 
  border-top-left-radius: 50%;
  border-bottom-left-radius: 25%;
}

.icon-cart .cart-line-3 {
  width: 28%;
  height: 6%;
  position: absolute;
  left: 33%;
  top: 45%;
  background-color: white;
}

.icon-cart .cart-line-3:after {
  content: "";
  width: 124%;
  height: 100%;
  position: absolute;
  top: -150%;
  left: -5%;
  background-color: inherit;
}

.icon-cart .cart-wheel {
  width: 12%;
  height: 12%;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  left: 28%;
  bottom: 20%;
}

.icon-cart .cart-wheel:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 100%;
  position: absolute;
  left: 200%;
  bottom: 0;
}


.notificacao{
  width: 23px;
  height: 23px;
  background: white;
  color:#3b945E;
  text-align: center;
  border-radius: 20px;
  
  margin-left: 20px;
}

/* Icon css of Header */
.headerIconsCss{
  display: flex;
  justify-content: center;
  padding-right: 30px;
}


@media (max-width: 768px) { 
  .navbarrowscss{
    flex-direction: row;
    align-items: center;
  }

  .webName{
    padding-left:20px;
    padding-right:0px;
  }

  .navbarsearchform{
    margin-left: 0%;
    padding-top:0px;
    padding-right:0px;
    display: flex;
    flex-direction: column-reverse;
}
.navsearchform{

  padding-right:10px;
}
.navseachinput{
  width: 200%;
  padding-top:0px;
  margin-left: 10px;
  margin-right: 10px;
  }
  .navsearchbutton{
    margin-top:0px;
         padding:5px 10px 5px 10px; 
  }

  .navitemcss::after{
      display: none;
  }

  .navitemcss{
        margin:0rem 0px 0px 0px ;
    padding:8px 16px 8px 16px;
    border-bottom: 1px solid white;
  }
  .navscss {
    padding:0px
}
  .navitemcss:hover{
    
      border-bottom: 3px solid white;
}

.headerIconsCss{
  padding-right: 0px;
  padding-top: 10px;
}



  .navbarrowscss:after{
    
  }

  .iconcss{
   }
  .profile.icon{
   }
}